@model IEnumerable<DapperTesting.DTOs.DateTestDTO>

@{
    ViewData["Title"] = "DateTest";
}

<h1>DateTest</h1>

<p>
    <a asp-action="AddEditDate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime2)
            </td>
            <td>
                @Html.ActionLink("Edit", "AddEditDate", item) |
                @Html.ActionLink("Delete", "DeleteDate", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
